body {
  background-color: pink;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.img-container {
  display: none;
}

.carousel {
  text-align: center;
  margin-top: 20px;
}
button {
  margin: 10px;
  padding: 5px 15px;
}

.dots {
  text-align: center;
  margin-top: 10px;
}
.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  display: inline-block;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}
.dot.active {
  background-color: #333;
}